<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="back.spring.final_back.payment.repository.PaymentDao">


<!-- 결제 정보 조회 //모든 결제 정보이므로 회원 개인의 정보는 detail참조해야함 -->
<select id="paymentList" parameterType="PaymentDto" resultType="PaymentDto">
  select * from payment
</select>







<!-- 결제내역 상세정보  -->
<select id="paymentDetail" parameterType="PaymentDto" resultType="PaymentDto">
select * from payment
<where>
<if test="memberNo!=null">
and member_no = #{memberNo} <!-- 회원 개인의 결제 정보  -->
</if>
</where>
</select>







<!-- 결제 내역 입력 -->
<insert id="paymentInsert" parameterType="PaymentDto">
insert into payment (payment_order_id, payment_order_name,payment_count,payment_price,
                 board_mk_no,member_no,member_name,member_email)
VALUES (#{paymentOrderId},#{paymentOrderName},#{paymentCount},#{paymentPrice},
                 #{boardMkNo},#{memberNo},#{memberName},#{memberEmail})
       <!-- 토스 페이먼츠 api에서 결제 성공 시 결제완료 URL로 이동된다. URL페이지가 호출됐을 때 결제정보가 insert되어야 한다.   -->
</insert>






<!-- 결제 내역 삭제 (환불) -->
<delete id="paymentDelete" parameterType="PaymentDto">
delete * from payment
 where member_no = #{memberNo} and payment_order_name = #{paymentOrderName}
 <!-- 회원번호, 상품명 모두 같은 조건인 경우 삭제 -->
</delete>



</mapper>