* {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.margin0 {
  margin: 0;
}

span {
  color: black;
}

.link {
  text-decoration: none;
}

div .socialLogin {
  display: flex;
  justify-content: space-around;
}

div .loginbutton {
  width: 3rem;
  border-radius: 50%;
  box-shadow: 3px 3px 10px gray;
}

.loginbuttonimg {
  border-radius: 50%;
  /* border: 0.5px gray solid; */
}

.openSidebarButton {
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: white;
  border: 1px solid lavender;
}

.openSidebarButton:hover {
  background-color: #444;
}

div .center {
  align-items: center;
  display: inline-block;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

div .carouselDiv {
  width: 100vw;
  margin: 0 auto;
}

ul .items {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
}

div .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* list-style: none; */
  padding-left: 0px;
  margin: 0px;
  column-gap: 0px;
  row-gap: 40px;
}

div .item {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgb(54, 54, 54);
  transition: transform 250ms ease-in;
  cursor: pointer;
}

div .mainpage.box {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

div .mainpage.div {
  width: 30vw;
  height: 34vh;
}

div .login {
  margin-left: 35%;
  margin-top: 15%;
  width: 20%;
}

div .register {
  margin-left: 35%;
  margin-top: 15%;
  width: 40%;
}


div .SearchBarDiv_header {
  display: inline-block;
  margin-top: 2px;
  margin-left: 80%;
}

div .Profile {
  padding: 0px 30px 0 30px;
  margin-top: 50px;
  height: 6vh;
  display: flex;
  justify-content: space-around;
}

div .ProfileButton {
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-size: 14px;
}

div .PersonalTabs {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(146, 146, 146);
}

div .tab {
  display: flex;
  width: 3vw;
  height: 4vh;
  align-items: center;
  margin-top: 10px;
  border: none;
}

div .MenuList {
  margin-top: 20px;
}

div .Menu {
  /* border: 1px dotted red; */
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
}

.Menu .aTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  height: 25px;
  line-height: 10px;
}

.TextBox {
  width: 80px;
  align-items: center;
  text-align: center;
}

.image20 {
  display: inline-block;
  width: 3vh;
  object-fit: cover;
}

.image40 {
  display: inline-block;
  width: 50px;
  object-fit: cover;
}

.image50 {
  display: inline-block;
  width: 50px;
  object-fit: cover;
}
