<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="back.spring.final_back.member.repository.MemberDao">
    <select id="localMemberLogin" parameterType="map" resultType="MemberDto">
        select *
          from member
         where member_id = #{memberId}
           and member_password = #{memberPassword}
    </select>

    <select id="login" parameterType="map" resultType="MemberDto">
        select *
        from member
        where member_id = #{memberId}
    </select>

    <insert id="socialjoin" parameterType="MemberDto">
        INSERT 
          INTO member(
		                  member_domain,
		                  member_id,
		                  member_name,
		                  member_email,
		                  member_nickname,
		                  member_profile_image,
		                  member_register_date,
                      member_authority
                      )
      	 VALUES (
                 #{memberDomain},
      	     	   #{memberId},
      	         #{memberName},
      	 	       #{memberEmail},
      	 	       #{memberNickname},
      	         #{memberProfileImage},
      	 	       CURDATE(),
                 #{memberAuthority}
		)
    </insert>

    <select id="getMemberData" parameterType="String" resultType="MemberDto">
        select *
        from member
        where member_id = #{memberId}
    </select>

    <select id="checkFollow" parameterType="String" resultType="map">
        SELECT *
          FROM member_follow
         WHERE member_flw_subject = #{myId}
           AND member_flw_object = #{friendId}
    </select>

    <insert id="addFollow" parameterType="String">
        INSERT
          INTO member_follow
        VALUES (#{myId}, #{friendId})
    </insert>
</mapper>