<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="back.spring.final_back.member.repository.SignUpDao">
	<insert id="memberInsert" parameterType="map">
		INSERT INTO member(
<!-- 		member_no, -->
<!-- 		member_domain, -->
		member_id,
		member_password,
		member_name,
		<!-- member_age, -->
		member_birth,
		member_email,
		member_gender,
		member_mobile,
		member_nickname,
 		<!-- member_profile_image, -->
 		member_register_date,
		member_zipcode,
		member_address,
		member_addr_detail)
		VALUES(
<!-- 		<if test="memberNo!= null">
			#{memberNo}
		</if> -->
<!-- 		<if test="memberDomain!= null">
			#{memberDomain}
		</if> -->
		<if test="memberId!= null">
			#{memberId}
		</if>
		<if test="memberPassword!= null">
			,#{memberPassword}
		</if>
		<if test="memberName!= null">
			,#{memberName}
		</if>
<!-- 		<if test="memberAge!= null">
			,#{memberAge}
		</if> -->
		<if test="memberBirth!= null">
			,#{memberBirth}
		</if>
		<if test="memberEmail!= null">
			,#{memberEmail}
		</if>
		<if test="memberGender!= null">
			,#{memberGender}
		</if>
		<if test="memberMobile!= null">
			,#{memberMobile}
		</if>
		<if test="memberNickname!= null">
			,#{memberNickname}
		</if>
<!--  		<if test="memberProfileImage!= null">
			,#{memberProfileImage}
		</if> -->
  		<if test="memberRegisterDate == null">
			,CURDATE()
		</if>
		<if test="memberZipcode!= null">
			,#{memberZipcode}
		</if>
		<if test="memberAddress!= null">
			,#{memberAddress}
		</if>
		<if test="memberAddrDetail!= null">
			,#{memberAddrDetail}
		</if>
		)
	</insert>

	<select id="memberList" parameterType="java.util.HashMap" resultType="map">
    select
           member_no,
           member_domain,
           member_id,
           member_password,
           member_name,
           member_age,
           member_birth,
           member_email,
           member_gender,
           member_mobile,
           member_nickname,
           member_profile_image,
           member_register_date,
           member_zipcode,
           member_address,
           member_addr_detail
      from member
      <where>
	    <if test='memberName!=null and memberName.length()>0'>
	      AND member_name = #{memberName}
	    </if>
	    <if test='memberMobile!=null and memberMobile.length()>0'>
	      AND member_mobile = #{memberMobile}
	    </if>
	  </where>
</select >

  <update id="memberUpdate" parameterType="java.util.HashMap">
    UPDATE member
    SET member_password = #{memberPassword}
    WHERE member_id = #{memberId}
      AND member_name = #{memberName}
      AND member_mobile = #{memberMobile}
  </update>
</mapper>