<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.spring.final_back.board.repository.BoardDao">
    <!-- 게시글 전체조회-->
    <select id="selectBoardList" resultType="BoardDto">
        select * from board
    </select>
    <!-- 게시글 추가 -->
    <insert id="insertBoardList" parameterType="BoardDto">
        INSERT INTO board
        VALUES(
            #{board_no}
            , #{member_id}
            , #{board_title}
            , #{board_date}
            , #{board_content}
            , #{board_views}
            , #{board_super_no}
            , #{board_group_no}
            , #{board_depth}
            , #{board_reply_count}
            , #{board_check}
        )
    </insert>
    <!-- 게시슬 삭제 -->
    <delete id="deleteBoard" parameterType="BoardDto">
        delete from board where board_no=#{boardNo}
    </delete>
    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="BoardDto"> update board set board_title = #{boardTitle} ,
    board_content = #{boardContent} where board_no = #{boardNo}
    </update>
</mapper>