<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="back.spring.final_back.openSoon.repository.OpenSoonDao">
      <select id="OpenSoonList" resultType="OpenSoonDto">
        SELECT *
          FROM seoul_data
         WHERE CURDATE()+7 BETWEEN (SELECT (STR_TO_DATE((SELECT SUBSTRING_INDEX(date,'~', 1)),
                                                      '%Y-%m-%d')
                                          )
                                  )
                            AND
                                 (SELECT (STR_TO_DATE((SELECT SUBSTRING_INDEX(date,'~', -1)),
                                                      '%Y-%m-%d')
                                          )
                                  )
                                  LIMIT 5;
    </select>

</mapper>