<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.spring.final_back.board.repository.CarpoolReplyDao">
    <!-- 댓글 전체조회-->
    <select id="selectCarpoolReplyList" parameterType="CarpoolReplyDto" resultType="CarpoolReplyDto">
        select * from board_reply_carpool WHERE board_cp_no = #{boardCpNo}
        ORDER BY board_reply_cp_no DESC;
    </select>

    <!-- 댓글 추가 -->
    <insert id="insertCarpoolReply" parameterType="CarpoolReplyDto">
        INSERT INTO board_reply_carpool
        (
                  board_cp_no
                , board_reply_cp_no
                , board_reply_cp_mem_id
                , board_reply_cp_content
        )
        VALUES(
              #{boardCpNo} 
            , (select A.* from (SELECT IFNULL(MAX(board_reply_cp_no), 0) +1 
                 FROM board_reply_carpool 
                 where board_cp_no = #{boardCpNo}) A )
            , #{boardReplyCpMemId}
            , #{boardReplyCpContent}
        )
    </insert>

    <!-- 댓글 삭제 -->
    <delete id="deleteCarpoolReply" parameterType="CarpoolReplyDto">
        delete from board_reply_carpool where board_cp_no = #{boardCpNo} and board_reply_cp_no = #{boardReplyCpNo}
	</delete>

    <!-- 댓글 수정 -->
    <update id="updateCarpoolReply" parameterType="CarpoolReplyDto">
        update board_reply_carpool set
            board_reply_cp_content = #{boardReplyCpContent}
        where board_cp_no = #{boardCpNo} and board_reply_cp_no = #{boardReplyCpNo}
    </update>
    
</mapper>