<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.spring.final_back.board.repository.CarpoolDao">

    <!-- 댓글 전체조회-->
    <select id="selectCarpool" resultType="CarpoolDto"> select * from board_carpool ORDER BY
        board_cp_no DESC; </select>

    <!-- 댓글 상세보기-->
    <select id="carpoolDetail" resultType="CarpoolDto"> select * from board_carpool where
        board_cp_no=#{boardCpNo} </select>

    <!-- 다음 번호 조회 -->
    <select id="getBoardCpNo" resultType="Integer"> select A.* from (SELECT IFNULL(MAX(board_cp_no),
        0) +1 FROM board_carpool) A </select>


    <!-- 댓글 추가 -->
    <insert id="insertCarpool" parameterType="CarpoolDto"> INSERT INTO board_carpool VALUES(
        #{boardCpNo} , #{boardCpMemId} , #{boardCpTitle} , #{boardCpContent} , #{boardCpDate} ,
        #{boardCpViews} , #{boardCpPlace} ) </insert>

    <!-- 댓글 삭제 -->
    <delete id="deleteCarpool" parameterType="CarpoolDto"> DELETE board_carpool, board_reply_carpool
        FROM board_carpool LEFT JOIN board_reply_carpool ON board_carpool.board_cp_no =
        board_reply_carpool.board_cp_no WHERE board_carpool.board_cp_no=#{boardCpNo}; </delete>

    <!-- 댓글 수정 -->
    <update id="updateCarpool" parameterType="CarpoolDto"> update board_carpool set board_cp_title =
        #{boardCpTitle} , board_cp_content = #{boardCpContent}, board_cp_date = #{boardCpDate},
        board_cp_place = #{boardCpPlace} where board_cp_no = #{boardCpNo} </update>


    <!--  조회수를 증가 -->
    <update id="viewUp" parameterType="map"> update board_carpool set board_cp_views =
        board_cp_views +1 where board_cp_no = #{boardCpNo} <!-- <if test="memberNo != null">
        and board_tg_member_id != #{boardTgMemId}
        </if> -->
    </update>
</mapper>