<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <property name="LOGS_ABSOLUTE_PATH" value="./logs"/>
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./was-logs/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>./logs/warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./was-logs/warn.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <property name="STDOUT_LOG_PATTERN" value="${STDOUT_LOG_PATTERN:-%clr([%d{yyyy-MM-dd HH:mm:ss}:%-3relative]){cyan}%clr([%thread]){magenta} %clr(%-5level){red} %clr([%logger{30} : %line line]){blue} - %msg%n}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${STDOUT_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="info" />
    <logger name="org.mybatis.spring" level="info" />
    <logger name="back.spring.final_back.board.repository.BoardDao" level="debug" />
    <logger name="back.spring.final_back.board.repository.TicketDao" level="debug" />
    <logger name="back.spring.final_back.data.repository.DataDao" level="debug" />
    <logger name="back.spring.final_back.festival.repository.ConcertDao" level="debug" />
    <logger name="back.spring.final_back.festival.repository.FestivalDao" level="debug" />
    <logger name="back.spring.final_back.festival.repository.MovieDao" level="debug" />
    <logger name="back.spring.final_back.member.repository.MemberDao" level="debug" />
    <logger name="back.spring.final_back.member.repository.NaverMemberDao" level="debug" />
    <logger name="back.spring.final_back.member.repository.SignUpDao" level="debug" />
    <logger name="back.spring.final_back.board.repository.DonationDao" level="debug" />

</configuration>