<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.spring.final_back.board.repository.BoardDao">
    <!-- 게시글 전체조회-->
    <select id="selectBoardList" resultType="BoardDto">
        select * from board
    </select>

    <!-- 게시글 상세보기-->
    <select id="selectBoardDetail" resultType="BoardDto">
        select * from board where board_no=#{board_no}
    </select>

    <!-- 게시글 추가 -->
    <insert id="insertBoardList" parameterType="BoardDto">
        INSERT INTO board
        VALUES(
            #{boardNO}
            , #{memberId}
            , #{boardTitle}
            , #{boardContent}
            , #{boardDate}
            , #{boardViews}
            , #{boardSuperNo}
            , #{boardGroupNo}
            , #{boardDepth}
            , #{boardReplyCount}
            , #{boardCheck}
        )
    </insert>
    <!-- 게시슬 삭제 -->
    <delete id="deleteBoardList" parameterType="BoardDto">
        delete from board where board_no=#{board_no}
    </delete>
    <!-- 게시글 수정 -->
    <update id="updateBoardList" parameterType="BoardDto"> update board set board_title = #{board_title} ,
    board_content = #{board_content} where board_no = #{board_no}
    </update>
</mapper>