<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.spring.final_back.board.repository.TogetherDao">
    <!-- 게시글 전체조회-->
    <select id="selectBoardList" resultType="TogetherDto">
        select * from board_together
        ORDER BY board_tg_no DESC;
    </select>

    <!-- 게시글 상세보기-->
    <select id="selectBoardDetail" resultType="TogetherDto">
        select * from board_together where board_tg_no=#{boardTgNo}
    </select>

    <!-- 게시글 추가 -->
    <insert id="insertBoardList" parameterType="TogetherDto">
        INSERT INTO board_together
        VALUES(
              #{boardTgNo}
            , #{boardTgMemId}
            , #{boardTgTitle}
            , #{boardTgContent}
            , #{boardTgDate}
            , #{boardTgViews}
            , #{boardTgSuperNo}
            , #{boardTgGroupNo}
            , #{boardTgDepth}
            , #{boardTgReplyCount}
            , #{boardTgCheck}
            , #{boardTgSecret}
        )
    </insert>
    <!-- 게시슬 삭제 -->
    <delete id="deleteBoardList" parameterType="TogetherDto">
        delete from board_together where board_tg_no=#{boardTgNo}
    </delete>
    <!-- 게시글 수정 -->
    <update id="updateBoardList" parameterType="TogetherDto">
        update board_together set
            board_tg_title = #{boardTgTitle} ,
            board_tg_content = #{boardTgContent},
            board_tg_date = #{boardTgDate}
        where board_tg_no = #{boardTgNo}
    </update>
    
    <!-- 남의 글일 경우에만 조회수를 증가 -->
    <update id="viewUp" parameterType="map">
        update board_together set
            board_tg_views = board_tg_views +1
        where board_tg_no = #{boardTgNo}
        <!-- <if test="memberNo != null">
        and board_tg_member_id != #{boardTgMemId}
        </if> -->
      </update>
</mapper>