<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="back.spring.final_back.board.repository.MarketDao">


<!-- 게시글 조회 및 조건검색 -->
<select id="mk_boardList" parameterType="MarketDto" resultType="MarketDto">
  select *
  from board_market
  where board_mk_status &lt; 2
  <if test='condition!=null and condition.equals("제목")'>
    and board_mk_title LIKE CONCAT('%', #{content}, '%')
  </if>
  <if test='condition!=null and condition.equals("장소")'>
    and mk_ticket_place LIKE CONCAT('%', #{content}, '%')
  </if>
  <if test='condition!=null and condition.equals("작성자")'>
    and member_nickname LIKE CONCAT('%', #{content}, '%')
  </if>
  order by board_mk_status ASC, board_mk_date DESC
</select>
<!-- 판매여부가 0,1인 게시글만 조회되게하기 ( 0 - 판매중 , 1 - 판매완료(판매자 확인x) , 2 - 판매확인(판매자 확인o) ) -->








<!-- 게시글 입력 -->
<insert id="mk_boardInsert" parameterType="MarketDto">
insert into board_market (board_mk_title,board_mk_content,board_mk_date,board_mk_hit,

mk_ticket_place,mk_ticket_date,mk_ticket_seat,mk_ticket_count,mk_ticket_price,board_mk_filename,board_mk_fileurl,member_nickname,member_id,member_no,board_mk_status)
VALUES (#{boardMkTitle},#{boardMkContent},#{boardMkDate},#{boardMkHit},
#{mkTicketPlace}, #{mkTicketDate}, #{mkTicketSeat}, #{mkTicketCount}, #{mkTicketPrice},#{boardMkFilename},#{boardMkFileurl},#{memberNickname},#{memberId},#{memberNo},#{boardMkStatus})

</insert>





<!-- 게시글 수정 -->
<update id="mk_boardUpdate" parameterType="MarketDto">
 update board_market
 set 
     <if test='boardMkTitle!=null'>
     board_mk_title = #{boardMkTitle},
     </if>
     <if test='boardMkContent!=null'>
     board_mk_content = #{boardMkContent},
     </if>
     <if test='boardMkDate!=null'>
     board_mk_date = #{boardMkDate},
     </if>
      <if test='mkTicketPlace!=null'>
     mk_ticket_place = #{mkTicketPlace},
     </if>
      <if test='mkTicketDate!=null'>
     mk_ticket_date = #{mkTicketDate},
     </if>
      <if test='mkTicketSeat!=null'>
     mk_ticket_seat = #{mkTicketSeat},
     </if>
     <if test='mkTicketCount!=null'>
     mk_ticket_count = #{mkTicketCount},
     </if>
     <if test='mkTicketPrice!=null'>
     mk_ticket_price = #{mkTicketPrice},
     </if>
     <if test='boardMkFilename!=null'>
     board_mk_filename = #{boardMkFilename},
     </if>
     <if test='boardMkFileurl!=null'>
     board_mk_fileurl = #{boardMkFileurl}
     </if>
     WHERE board_mk_no = #{boardMkNo} 
</update>





<!-- 게시글 삭제 -->
<delete id="mk_boardDelete" parameterType="MarketDto">
delete from board_market
<where>
<if test='boardMkNo!=null and boardMkNo>0'>
board_mk_no = #{boardMkNo}
</if>
</where>
</delete>





<!-- 게시글 상세보기 -->
<select id="mk_boardDetail" parameterType="MarketDto" resultType="MarketDto">
select * from board_market 
<where>
  <if test='boardMkNo!=null'> 
    board_mk_no = #{boardMkNo}
    </if>
     </where>
</select>



<!-- 조회수 증가  -->	
	<update id="mk_boardHit" parameterType="MarketDto">
	<choose>
	<when test='boardMkNo!=null'>
	 UPDATE board_market SET board_mk_hit = board_mk_hit+1
	  WHERE board_mk_no = #{boardMkNo}
	</when>
	</choose>
	</update>
	
	
<!-- 찜하기 버튼 -->
<update id="mk_plusLikes" parameterType="MarketDto">
<choose>
<when test='boardMkNo!=null'>
UPDATE board_market SET board_mk_likes = board_mk_likes+1
 WHERE board_mk_no = #{boardMkNo}
</when>
</choose>
</update>	
	
<!-- 찜하기 취소시 -->	
<update id="mk_minusLikes" parameterType="MarketDto">
<choose>
<when test='boardMkNo!=null'>
UPDATE board_market SET board_mk_likes = board_mk_likes-1
 WHERE board_mk_no in (#{boardMkNo})
</when>
</choose>
</update>	


<!-- 찜하기 취소 -> 위시리스트 삭제 -->
<delete id="mk_wishlistDelete" parameterType="MarketDto">
delete from wishlist_data
<where>
<if test='boardMkNo!=null and boardMkNo>0'>
board_mk_no = #{boardMkNo}
</if>
</where>
</delete>	
	
	
<!-- 판매완료 처리 -->
<update id="mk_boardSell" parameterType="MarketDto">
<choose>
<when test='boardMkNo!=null and boardMkNo>0'>
UPDATE board_market SET board_mk_status = board_mk_status + 1
 WHERE board_mk_no = #{boardMkNo} AND mk_ticket_price = #{mkTicketPrice}
</when>
</choose>
</update>


</mapper>