<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="back.spring.final_back.festival.repository.FestivalDao">
	<select id="seoulFestivalList" resultType="FestivalDto2">
SELECT * FROM fest_main where fest_m_area LIKE '%서울%'
	</select>
	<select id="kyeongkiFestivalList" resultType="FestivalDto2">
SELECT * FROM fest_main where fest_m_area LIKE '%경기%'
	</select>
	<select id="festivalList" resultType="FestivalDto2">
SELECT * FROM fest_main
	</select>
	<insert id="festivalInsert" parameterType="Map"
		useGeneratedKeys="true" keyProperty="festId">
	INSERT INTO
	festival_test (fest_title, fest_location,
	fest_category, fest_startday,
	fest_endday, fest_detail, fest_price, fest_desc)
	VALUES (#{festTitle}, #{festLocation}, #{festCategory}, #{festStartday},
	#{festEndday}, #{festDetail}, #{festPrice}, #{festDesc})
	</insert>
</mapper>