<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="back.spring.final_back.festival.repository.FestivalDao">
	<select id="festivalDetail" resultType="FestivalDto">
	 	  SELECT fm.*, fp.fest_ps_url, fd.fest_dt_runtime , fd.fest_dt_age , ft.fest_tc_price
  FROM   fest_main fm 
  LEFT OUTER JOIN fest_poster fp ON fm.fest_m_id  = fp.fest_ps_id
  LEFT OUTER JOIN fest_detail fd ON fm.fest_m_id = fd.fest_dt_id 
  LEFT OUTER JOIN fest_ticket ft ON fm.fest_m_id = ft.fest_tc_id
 where fest_m_id=#{festMId}
    </select>
	<select id="areaFestivalList" resultType="FestivalDto">
SELECT * FROM fest_main where fest_m_area=#{festMArea}
</select>
<select id="festivalHitList" resultType="FestivalDto">
  SELECT * FROM fest_main ORDER BY fest_m_hit DESC
</select>
	<select id="festivalListByDate" resultType="FestivalDto">
			SELECT *
        FROM fest_main
       WHERE #{date} &lt; fest_m_start
	</select>

	<select id="festivalList" resultType="FestivalDto">
SELECT * FROM fest_main
	</select>
	<insert id="festivalInsert" parameterType="Map">
	INSERT INTO
	fest_main (
	fest_m_author, 
	fest_m_name, 
	fest_m_start,
	fest_m_end, 
	fest_m_loc, 
	fest_m_img, 
	fest_m_genre, 
	fest_m_area)
	VALUES
	('admin_자체등록 member_id', 
	#{festMName}, 
	#{festMStart}, 
	#{festMEnd},
	#{festMLoc},
	#{festMImg},
	#{festMGenre}, 
	#{festMArea})
	</insert>
		<delete id="festivalDelete" parameterType="String">
  delete from fest_main where fest_m_id =#{festMId};
	</delete>
</mapper>
