a {
    text-decoration: none;
}

.breadcrumb {
    padding: 8px 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

​ .page-header {
    padding: 20px 0px;
}

​ .board-detail {
    display: flex;
}

.board-header {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.board-list {
    margin: 20px 0px;
}

​ .thumbNail {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    object-fit: contain;
    background-size: cover;
}

​ .boardlist-footer {
    display: flex;
    flex-direction: row-reverse;
}

​ .detail-link {
    display: flex;
    margin: 6px;
}

​ .board-footer {
    margin-top: 30px;
}

​ .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.slide-menu, .slide-menu ul {
    list-style: none;
}
.slide-menu, .slide-menu ul, .slide-menu li {
    padding:0;
    margin:0;
}

.slide-menu {
    display: flex;
}
.slide-menu > li {
    width:120px;
}
.slide-menu li {
    position:relative;
}
.slide-menu ul {
    position: absolute;
    top:100%;
    left:0;
}
.slide-menu li > a {
    display: block;
    width:120px;
    text-align: center;
    text-decoration: none;
    color:black;
    padding:0.75rem;
}

.slide-menu , .slide-menu ul{
    background-color: #EEEEEE;
}
.slide-menu li:hover > a {
    background-color:#CCCCCC;
    color:black;
}

.slide-menu > li > ul ul {
    top:0;
    left:100%;
}

.slide-menu > li.flex-right {
    margin-left: auto;
    margin-right:0;
}

.slide-menu ul {
    display:none;
}
.slide-menu li:hover > ul {
    display:block;
}

.container-400 {
    width: 400px;
}

.container-900 {
    width: 900px;
}

.container-1000 {
    width: 1000px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-left {
    margin-left: 0;
    margin-right: auto;
}
 
.container-center {
    margin-left: auto;
    margin-right: auto;
}
 
.container-right {
    margin-left: auto;
    margin-right: 0;
}

.table {
    width: 100%;
}
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 0.5rem;
    text-align: center;
}

.text_auto {
    word-break: break-all;
}