.black {
  color: black;
}

div .center {
  margin: 0;
  padding: 0;
}

div .chat {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}

div .chat.container {
  border: none;
  display: flex;
  flex-direction: column;

  height: 80%;
  width: 80%;
  margin-top: 5vh;
  margin-left: 15vw;
}

div .chat.bar {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
}

div .chat.box {
  display: flex;
  height: 90%;
}

div .chat.bar.dm {
  height: 100%;
}

div .chat.bar.group {
  height: 100%;
}

div .chat.chatList {
  height: 100%;
  width: 30%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: start;
}

div .chatOne {
  border: 1px solid gray;
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  /* text-align: right; */
  align-items: center;
}

div .chat.chatDisplay {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

div .chat.outputBox {
  width: 100%;
  overflow: scroll;
}

div .chat.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5%;
  width: 100%;
}

.inputTextBox {
  height: 90%;
  width: 90%;
}

.inputButton {
  display: block;
  height: 90%;
  width: 5%;
}

.myChat {
  display: flex;
  justify-content: right;
  text-align: right;
}

.otherChat {
  display: flex;
  justify-content: left;
  text-align: left;
}
