.mypageBox{
    background-color: rgb(42, 38, 38);
    color: white;
    text-align: center;
    height: 150px;
    width: 300px;
    display: table-cell;
    vertical-align: middle;

}

.MainDIv{
    display:flex;
    margin-top: 150px;
    margin-left: 50px;
}

.main_left_div{
    flex:0.4;
}

.main_center_div{
    flex:1.6;
    margin-left: 100px;
    margin-right:100px;
    
}

.top_line{
    border-bottom: 1px solid rgb(192, 191, 191);
    padding-bottom: 20px;
}

.strong_font{
    color: red;
}

.p_text{
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.mypage_btn{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin: 10px;
}

.mypage_btn:hover{
    background-color: black;
    color: white;
}

.thead-dark{
    background-color: rgb(42, 38, 38);
    color:white;
}

.cancle_info{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-top: 100px;
}

.cart_table_div{
    border : 1px solid lightgray;
    padding: 30px;
}

.cart_main_section{
    margin:100px  50px 50px 50px;  /* 위 오 밑 왼 */
}

