span {
  color: white;
}

/* div .sidebar.container {
  height: 100%;
  display: inline-block;
  position: fixed;
  z-index: 1;
  background-color: rgba(47, 47, 47, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  width: 300px;
  height: 100%;
} */

div .sidebar.items {
  height: 100%;
  display: inline-block;
  position: fixed;
  z-index: 1;
  background-color: rgba(47, 47, 47, 0.9); /*까만색(0,0,0) 80% 불투명도*/
  overflow-x: hidden;
  transition: 0.5s;

  top: 8vh;
  left: 0;
  border-right: 1px solid black;
}

div .sidebar.button {
  /* display: inline-block;
  position: fixed;
  z-index: 1; */
  width: 50px;
  height: 100%;
}

.icon {
  filter: invert(100%);
  display: inline-block;
}
