span {
  color: white;
}

div .sidebar.container {
  height: 100%;
  display: inline-block;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  top: 8vh;
  left: 0;
}

div .ProfileBox {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

div .sidebar.items {
  height: 100%;
  display: inline-block;
  position: fixed;
  z-index: 1;
  background-color: rgba(47, 47, 47, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  top: 8vh;
  left: 0;
  /* border-right: 1px solid black; */
}

div .sidebar.button {
  background-color: rgba(47, 47, 47, 0.9);
  align-items: center;
  height: 60px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 5.5vh;
  overflow-x: hidden;
  transition: 0.5s;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.icon {
  filter: invert(100%);
  display: inline-block;
}

.userImage {
  display: inline-block;
}

.ProfileButton {
  display: inline-block;
}

.dropdown.items {
  background-color: rgba(162, 162, 162, 0.95); /*까만색(0,0,0) 80% 불투명도*/
}
